---
import { Image } from "astro:assets";
---

<div>
  <Image
    src="/gray-circle.svg"
    alt="How It Works"
    class="h-72 w-72 object-cover absolute -top-9 right-0 z-0 blur-xl opacity-30"
    height={384}
    width={384}
  />
  <h1>EMPOWER YOUR BUSINESS WITH EZOR AI</h1>
  <p>
    We create smart AI voice agents to help businesses save time, cut costs, and
    improve customer interactions. Transform your operations with seamless
    automation tailored to your needs.
  </p>
</div>
