---
import { Fragment } from "astro/jsx-runtime";
const currenYear = new Date().getFullYear();
---

<footer
  class="p-2 ring-white/10 ring-1 rounded-3xl bg-gradient-to-t from-white/20 mt-12 md:mt-24"
>
  <div
    class="p-8 rounded-2xl backdrop-blur-2xl shadow-2xl ring-white/10 ring-1 lg:p-20"
  >
    <a href="/" class="text-xl font-bold">Ezor AI</a>
    <p class="mt-4 text-gray-400">
      © {currenYear} Ezor AI. All rights reserved.
    </p>
    <p class="mt-4 text-gray-400">
      Developed by <a href="https://juliop-port.netlify.app/">J Frank</a>
    </p>
  </div>
</footer>
